.wrapper-login{
	background-color: #f2f3f5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 42px 0;
}

.content-login{
	width: 500px;
	background-color: white;
	margin: 0 auto;
	padding: 32px;
	border-radius: 8px;
}

.content-login h1{
	margin-bottom: 24px;
}

.form-group{
	margin-bottom: 12px;
}

.form-label {
  display: block;
}

.form-label p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(43, 26, 34, 0.5);
  margin-bottom: 4px;
}

.form-control {
  display: inline-block;
  border: 1.5px solid #bdbac4;
  border-radius: 8px;
  padding: 10px 12px;

  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  outline: none;
}

.form-control:focus {
  border: 1.5px solid #e64c7a;
}

.form-control-input {
  width: 406px;
  height: 44px;
}

.btn-login{
	padding: 12px 32px;
	color: white;
	background-color: #e64c7a;
	border: none;
	cursor: pointer;
	outline: none;
	border-radius: 8px;
	display: block;
	/* margin: 20px 0; */
}

.form-error{
	color: red;
}

@media only screen and (max-width: 426px){

	.wrapper-login{
		padding: 20px 0;
	}

	.content-login{
		padding: 32px;
		width: auto;
	}

	.form-control-input{
		width: 100%;
	}
}
